@media screen and (max-width :575px) and (min-width :320px) {
    .tagh1 {
        font-size: 24px !important;
    }

    .taghar {
        padding: 10px !important;
    }

    .namer {
        height: 40px !important;
        width: 40px !important;
    }

    .btn-team {
        flex-direction: column !important;
    }

    .team {
        padding: 10px !important;
        font-size: 12px !important;
    }
}

/* For LArge SCeens */

@media screen and (max-width :1440px) and (min-width :768px) {
    .cardiff {
        display: flex !important;
        flex-direction: column !important;

    }

    .buttler-h2 {
        font-size: 25px !important;
    }
}